<div class="row">
    <div class="col-md-6">
        <a routerLink="/" href="#" class="btn btn-link"><i class="fa fa-window-close"></i> Back To Dashboard</a>
    </div>
    <div class="col-md-6">

    </div>

</div>


<div class="card">
    <div class="card-header" *ngIf="!isEdit">
        Add Client
    </div>
    <div class="card-header" *ngIf="isEdit">
        Update Client
    </div>

    <!-- name -->
    <div class="card-block">
        <form [formGroup]="form">
            <!-- Name -->
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Enter your name">
                    <mat-error *ngIf="this.form.get('name').hasError('pattern')">
                        Invalid Name
                    </mat-error>
                    <mat-error *ngIf="this.form.get('name').hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Age -->
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" formControlName="age" placeholder="Enter your age">
                    <mat-error *ngIf="this.form.get('age').hasError('required')">
                        Age is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Sex -->
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="sex">
                      <mat-option  value="Male">Male</mat-option>
                      <mat-option  value="Female">Female</mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.form.get('sex').hasError('required')">
                        Sex is <strong>required</strong>
                    </mat-error>
                   
                </mat-form-field>
            </div>

            <!-- DOB -->
            <div class="form-group">
                <mat-form-field>
                    <input formControlName="dob" (click)="picker.open()" matInput
                        [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.get('dob').hasError('required')">You must select a due date</mat-error>
                </mat-form-field>
            </div>



            <input *ngIf="isEdit" type="submit" (click)="onUpdate(form)" class="btn btn-danger btn-block"
                value="Update">
            <input *ngIf="!isEdit" type="submit" (click)="onSubmit(form)" class="btn btn-danger btn-block"
                value="Submit">
        </form>
    </div>
</div>